<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="base_length" value="0.88" />
  <xacro:property name="base_width" value="0.58" />
  <xacro:property name="base_height" value="0.68" />
  <xacro:property name="base_mass" value="20" />

  <xacro:property name="wheel_radius" value="0.063" />
  <xacro:property name="wheel_width" value="0.045" />
  <xacro:property name="wheel_pos_x" value="0.0" />
  <xacro:property name="wheel_pos_y" value="0.33" />
  <xacro:property name="wheel_pos_z" value="-0.41" />
  <xacro:property name="wheel_mass" value="3.0" />
  <xacro:property name="wheel_torque" value="7.5" />
  <xacro:property name="front_caster_wheel" value="true" />
  <xacro:property name="rear_caster_wheel" value="true" />

  <xacro:property name="laser_pose">
    <origin xyz="0.38 0.0 0.08" rpy="0 0 0"/>
  </xacro:property>

  <xacro:property name="depth_sensor_pose">
    <origin xyz="0.38 0.0 -0.10" rpy="0 0 0"/>
  </xacro:property>
</robot>
